<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(admin){%>
    <h1>欢迎
        <%= admin.username%>登录</h1>
    <h1><a href="/regout">退出</a></h1>
    <%}else{%>
    <h1><a href="/reg">登录</a></h1>
    <h1><a href="/login">注册</a></h1>
    <%}%>
    <h2>修改密码</h2>
    <form action="/users/password" method="post">
        <input type="hidden" name="id" value="<%= data._id%>">
        原密码<input type="password" name="oldpassword"><br><br>
        新密码<input type="password" name="newpassword"><br><br>
        <input type="submit" value="修改">
    </form>
</body>

</html>