<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>烘焙_烘焙+_烘焙大全_烘焙专区_烘焙食谱大全_学烘焙-美食天下</title>
    <!-- 页面重置样式库 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- 页面图标样式库 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_u4hkaw2ew8m8ia4i.css">
    <!-- 选项卡的小图标 -->
    <link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico" />
    <!-- css样式库 -->
    <link rel="stylesheet" href="/assets/css/cart.css">
</head>

<body>
    <!-- 页面的头部分开始 -->
    <div class="header">
        <ul class="header-left">
            <li><a href=""><i class="top-bar"></i>首页</a></li>
            <li><a href="">菜谱</a></li>
            <li><a href="">食材</a></li>
            <li><a href="">珍选</a></li>
            <li><a href="">健康</a></li>
            <li><a href="">专题</a></li>
            <li><a href="">社区</a></li>
            <li><a href="">话题</a></li>
            <li><a href="">活动</a></li>
            <li><a href="">搜索</a></li>
            <li><i class="iconfont icon-xiajiantou" style="padding:10px"></i>
                <div class="erji">
                    <a href="">烘焙</a>
                    <a href="">妈妈派</a></div>
            </li>
        </ul>
        <ul class="header-right">
            <li class="line"><a href="">注册</a></li>
            <li class="line"><a href="">登录</a></li>
            <li class="disange">
                <a href=""><img src="/assets/images/nir1.png" alt="">QQ登录</a>
                <div class="erji2">
                    <div><a href=""><img src="/assets/images/nir2.png" alt="">微博登录</a></div>
                    <div><a href=""><img src="/assets/images/nir3.png" alt="">微信登录</a></div>
                </div>
            </li>
            <li>
                <a href=""><img src="http://static.meishichina.com/v6/img/lib/nr1.png" alt="">发布</a>
                <ul class="erji3">
                    <li><a href="">发菜谱</a></li>
                    <li><a href="">发话题</a></li>
                    <li><a href="">发日志</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr2.png" alt="">签到有礼</a></li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr3.png" alt="">客户端</a>
                <div class="erji4"><img src="/assets/images/msc_app.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <!-- 页面开始 -->
    <!--  -->
    <div class="nav">
        <a href=""><img src="http://static.meishichina.com/v6/img/logo_2016.png" alt=""></a>
        <a href="#">烘焙+</a>
        <div class="search">
            <a href="">搜索</a>
            <input type="text">
        </div>
    </div>
    <!--  -->
    <div class="nav1">
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">烘焙课堂</a></li>
            <li><a href="">烘焙食谱</a></li>
            <li><a href="">烘焙用品</a></li>
            <li><a href="">烘焙圈子</a></li>
        </ul>
    </div>
    <div class="lunbo">
        <div class="lunbo-left">
            <a href=""><img src="http://ubmcmm.baidustatic.com/media/v1/0f0005ccDPXSi3_5oaa4q0.jpg" alt=""></a>
            <a href=""><img src="http://ubmcmm.baidustatic.com/media/v1/0f000Ft_HqncN_mKpKpGL0.jpg" alt=""></a>
            <a href=""><img src="http://ubmcmm.baidustatic.com/media/v1/0f000nRNWcoTlz169vjy10.jpg" alt=""></a>
            <a href=""><img src="http://ubmcmm.baidustatic.com/media/v1/0f0002sfQ1mU6Jyhz1hzFf.jpg" alt=""></a>
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="lunbo-right">
            <div class="lunbo-right-1">
                <a href=""><img src="http://i3.meishichina.com/attachment/article/2017/04/05/20170405149136279966413.jpg" alt=""></a>
                <div class="lunbo-h2">
                    <h2><a href="">ACA是爱吃第四届烘焙大赛</a></h2>
                    <p>是爱吃，就要大声说出来！是爱吃，就要放开吃！美食天下&ACA北美电器“第四届烘焙节暨是爱吃”等你来战。三轮挑战，现金+ACA产品大奖等你来拿~...</p>
                </div>
            </div>
            <div class="lunbo-right-1">
                <a href=""><img src="http://i3.meishichina.com/attachment/201606/12/13_1465726210xDea.png" alt=""></a>
                <div class="lunbo-h2">
                    <h2><a href="">“派”系纷争，你是咸甜哪一派？</a></h2>
                    <p>南北方之间的粽子甜咸之争让人印象深刻，西方的经典美食——派（PIE）也展开了如火如荼的“舌尖”纷争…“派” 系纷争，你是咸、甜哪一派？…</p>
                </div>
            </div>
            <div class="lunbo-right-1">
                <a href=""><img src="http://i3.meishichina.com/data/avatar/005/82/16/27_avatar_big.jpg@!c80?v=20161228" alt=""></a>
                <div class="lunbo-h2">
                    <h2><a href="">味蕾的享受 - 乳酪火腿面包</a></h2>
                    <p>用奶酪乳酪芝士片和脆皮肠当馅料的一款面包，奶香浓郁，口感极好，一口咬下去，面包松软，乳酪香滑细腻，火腿肠脆脆QQ，每一口都是享受…</p>
                </div>
            </div>
        </div>
    </div>
    <div class="aca">
        <img src="http://ubmcmm.baidustatic.com/media/v1/0f000Qfd4XfmBYH3J88Rr0.jpg" alt="">
    </div>
    <!-- @@@@@@@@@@@@ -->
    <div class="container">
        <div class="container-left">
            <div class="nav2">
                <h3><a href="">烘焙产品抢先看</a></h3>
                <h3><a href="">烘焙模具</a></h3>
                <h3><a href="">搅拌机</a></h3>
                <h3><a href="">面包机</a></h3>
                <h3><a href="">烤箱</a></h3>
            </div>
            <div class="container-liebiao">
                <ul>
                    <li>
                        <h2><a href="">美玫顶级低筋面粉 烘焙原料1kg原装 <i>美玫顶级蛋糕粉 低筋</i></a></h2>
                        <div class="tuwen">
                            <img src="http://i3.meishichina.com/attachment/shop/2016/12/05/201612051480941750158.jpg" alt="">
                            <p>美玫低筋小麦粉，适合制作各式蛋糕，西点及中点，如海绵蛋糕，重油蛋糕，各式馅饼等。优才优质，天然健康。烘焙界公认的最好低筋粉</p>
                            <div class="wen">
                                <a href="">烘焙</a> > <a href=""> 烘焙面粉</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2><a href="">宝蓝吉柠檬汁125ml <i>阳光充沛西西里岛的鲜柠檬压榨而成</i></a></h2>
                        <div class="tuwen">
                            <img src="http://i3.meishichina.com/attachment/shop/2016/12/05/201612051480927477497.jpg" alt="">
                            <p>各种百搭又口感醇厚的柠檬汁，不论是饭菜佐料还是与饮品搭配，不枉你采购一番哦！柠檬汁就是新鲜柠檬经榨挤后得到的汁液，酸味极浓，伴有淡淡的苦涩和清香味道。...</p>
                            <div class="wen">
                                <a href="">烘焙</a> > <a href=""> 烘焙辅料</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2><a href="">美国原装进口 味好美香草精29ml <i>25块8特价</i></a></h2>
                        <div class="tuwen">
                            <img src="http://i3.meishichina.com/attachment/shop/2016/12/05/201612051480927341480.jpg" alt="">
                            <p>味好美香草精是由香草的豆荚天然提炼而成，创造出不可复制的美妙香味与味道，是香草精中的顶级之作。它是高级西点必备配方，赋予西点非同一般的品质和品味。美国原装进口，绝对品质保证。...</p>
                            <div class="wen">
                                <a href="">烘焙</a> > <a href=""> 烘焙辅料</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2><a href="">芝焙椰蓉 原装100克*2袋 <i>12元特价</i></a></h2>
                        <div class="tuwen">
                            <img src="http://i3.meishichina.com/attachment/shop/2016/12/05/201612051480927253312.jpg" alt="">
                            <p>芝焙椰蓉选用最上盛，不老不嫩适当成熟程度的顶级新鲜椰子为原料，椰蓉经过压榨，保证椰子精华，原汁原味；制作过程没有添加漂白剂或任何香精添加剂，百分百天然成分...</p>
                            <div class="wen">
                                <a href="">烘焙</a> > <a href=""> 烘焙辅料</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2><a href="">烘焙原料 安琪百钻双效泡打粉50g*5袋膨松剂做蛋糕无铝害泡打粉</a></h2>
                        <div class="tuwen">
                            <img src="http://i3.meishichina.com/attachment/shop/2016/12/05/201612051480926951749.jpg" alt="">
                            <p>安琪百钻双效无铝泡打粉粉质细腻，持续发泡能力强，能在打发面糊及烤焙各阶段均匀释放气体，在食品内部形成均匀、致密的孔性组织，增大体积，使面包、蛋糕等食品柔软、蓬松、有弹性，使饼干酥松，口感细......</p>
                            <div class="wen">
                                <a href="">烘焙</a> > <a href=""> 烘焙辅料 </a><a href="">安琪　</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ########################### -->
            <div class="container-liebiao2">
                <div class="nav3">
                    <h3>烘焙圈</h3>
                </div>
                <ul class="pinglun">
                    <li>
                        <img src="http://i3.meishichina.com/attachment/pai/2017/03/26/20170326195710659.jpg@!c180" alt="">
                        <div class="yonghu">
                            <img src="http://i3.meishichina.com/data/avatar/006/24/17/49_avatar_big.jpg@!c120" alt="">
                            <a href="">吃货不再懒惰</a>
                            <br>2017-3-26
                        </div>
                        <p><a href="">酸奶无油蛋糕</a></p>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/attachment/pai/2017/03/05/20170305223610602.jpg@!c180" alt="">
                        <div class="yonghu">
                            <img src="http://i3.meishichina.com/data/avatar/009/79/01/49_avatar_big.jpg@!c120" alt="">
                            <a href="">小闹and小牛</a>
                            <br>2017-3-5
                        </div>
                        <p><a href="">等待面包出炉是忐忑的，出炉后是喜悦的，烘焙总能给我带来快乐</a></p>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/attachment/pai/2017/03/04/20170304155753601.jpg@!c180" alt="">
                        <div class="yonghu">
                            <img src="http://static.meishichina.com/u2/res/n.jpg" alt="">
                            <a href="">xuxu574</a>
                            <br>2017-3-4
                        </div>
                        <p><a href="">全麦葡萄干割包</a></p>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/attachment/pai/2017/03/02/20170302101023402.jpg@!c180" alt="">
                        <div class="yonghu">
                            <img src="http://i3.meishichina.com/data/avatar/009/09/46/92_avatar_big.jpg@!c120" alt="">
                            <a href="">青岛小地瓜</a>
                            <br>2017-3-2
                        </div>
                        <p><a href="">植物油版桃酥</a></p>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/data/avatar/000/11/39/25_avatar_big.jpg@!c120" alt="">
                        <div class="yonghu">
                            <img src="http://i3.meishichina.com/data/avatar/006/24/17/49_avatar_big.jpg@!c120" alt="">
                            <a href="">青岛小地瓜</a>
                            <br>2017-3-2
                        </div>
                        <p><a href="">植物油版桃酥</a></p>
                    </li>
                </ul>
                <div class="chakan">
                    <a href="">查看更多</a>
                </div>
            </div>
        </div>
        <div class="container-right">
            <h3>推荐食谱</h3>
            <div class="bangding">
                <ul>
                    <li><a href="">▪ 吐司</a></li>
                    <li><a href="">▪ 三明治</a></li>
                    <li><a href="">▪ 餐包</a></li>
                    <li><a href="">▪ 芝士面包</a></li>
                    <li><a href="">▪ 香葱面包</a></li>
                    <li><a href="">▪ 全麦面包</a></li>
                    <li><a href="">▪ 花式面包</a></li>
                    <li><a href="">▪ 肉松面包</a></li>
                    <li><a href="">▪ 马芬</a></li>
                    <li><a href="">▪ 蛋糕卷</a></li>
                    <li><a href="">▪ 戚风蛋糕</a></li>
                    <li><a href="">▪ 芝士蛋糕</a></li>
                    <li><a href="">▪ 抹茶蛋糕</a></li>
                    <li><a href="">▪ 慕斯蛋糕</a></li>
                    <li><a href="">▪ 奶油蛋糕</a></li>
                    <li><a href="">▪ 乳酪蛋糕</a></li>
                    <li><a href="">▪ 水果蛋糕</a></li>
                    <li><a href="">▪ 苏打饼干</a></li>
                    <li><a href="">▪ 曲奇饼干</a></li>
                    <li><a href="">▪ 夹心饼干</a></li>
                    <li><a href="">▪ 手指饼干</a></li>
                    <li><a href="">▪ 卡通饼干</a></li>
                    <li><a href="">▪ 酥</a></li>
                    <li><a href="">▪ 泡芙</a></li>
                    <li><a href="">▪ 蛋挞</a></li>
                    <li><a href="">▪ 披萨</a></li>
                    <li><a href="">▪ 布丁</a></li>
                    <li><a href="">▪ 慕斯</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- $$$$$$$$$$$$$$ -->
    <div class="dianji">
        <div class="dianji-left">
            <ul>
                <li><a href=""><img src="http://static.meishichina.com/v6/img/hongbei/aca.jpg" alt=""></a></li>
                <li><a href=""><img src="http://static.meishichina.com/v6/img/hongbei/haier.jpg" alt=""></a></li>
                <li><a href=""><img src="http://static.meishichina.com/v6/img/hongbei/xl.jpg" alt=""></a></li>
            </ul>
        </div>
        <h3>合作伙伴</h3>
        <div class="dianji-right"></div>
    </div>
    <!-- ???????????????????? -->
    <div class="weibu">
        <div class="weibu-zhong">
            <div class="weibu-1">
                <h5>关于美天</h5>
                <ul>
                    <li><a href="">加入我们</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">网站地图</a></li>
                    <li><a href="">帮助 / 反馈</a></li>
                    <li><a href="">版权与免责</a></li>
                </ul>
            </div>
            <div class="weibu-2">
                <h5>菜谱大全</h5>
                <ul>
                    <li><a href="">千道家常菜</a></li>
                    <li><a href="">所有分类</a></li>
                    <li><a href="">热菜</a></li>
                    <li><a href="">凉菜</a></li>
                    <li><a href="">汤羹</a></li>
                    <li><a href="">小吃</a></li>
                    <li><a href="">儿童菜</a></li>
                    <li><a href="">开胃菜</a></li>
                    <li><a href="">自制食材</a></li>
                    <li><a href="">泡酱腌菜</a></li>
                </ul>
            </div>
            <div class="weibu-3">
                <h5>时下最热</h5>
                <ul>
                    <li><a href="">土豆</a></li>
                    <li><a href="">花样米饭</a></li>
                    <li><a href="">秋天吃什么</a></li>
                    <li><a href="">面条</a></li>
                    <li><a href="">牛肉面</a></li>
                    <li><a href="">国王般的早餐</a></li>
                    <li><a href="">豆腐</a></li>
                    <li><a href="">抗雾霾</a></li>
                    <li><a href="">抓住男人胃</a></li>
                    <li><a href="">芋头</a></li>
                    <li><a href="">烘焙大全</a></li>
                    <li><a href="">烤箱做的菜</a></li>
                    <li><a href="">山药</a></li>
                    <li><a href="">经典川菜</a></li>
                    <li><a href="">无辣不欢</a></li>
                </ul>
            </div>
            <div class="weibu-4">
                <h5>随时随地，美食天下</h5>
                <ul>
                    <li><img src="http://static.meishichina.com/v6/img/footer/weixin.png" alt="">
                        <p>微信公众号</p>
                    </li>
                    <li><img src="http://static.meishichina.com/v6/img/footer/app_all.png" alt="">
                        <p>Android客户端</p>
                    </li>
                    <li><img src="http://static.meishichina.com/v6/img/footer/app_iphone.png" alt="">
                        <p>iPhone客户端</p>
                    </li>
                </ul>
            </div>
            <div class="banquan">
                <p>版权所有 © 2004-2017 美食天下 保留所有权利 - 京公网安备 11010502031041号 / 京ICP证090244号 / 京ICP备10020153号</p>
            </div>
        </div>
    </div>
    <a href="" class="maodian"><img src="http://static.meishichina.com/v6/img/wap_a/gotop.png" alt=""></a>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/cart.js"></script>
</body>

</html>