<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>美食天下|美食|菜谱大全|家常菜谱|美食社区-最大的中文美食网站</title>
    <!-- 页面重置样式库 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- 页面图标样式库 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_yv0x1mxfc5cow29.css">
    <!-- 选项卡的小图标 -->
    <link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico" />
    <!-- css样式库 -->
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <!-- 页面的头部分开始 -->
    <div class="header">
        <ul class="header-left">
            <li><a href=""><i class="top-bar"></i>首页</a></li>
            <li><a href="">菜谱</a></li>
            <li><a href="">食材</a></li>
            <li><a href="">珍选</a></li>
            <li><a href="">健康</a></li>
            <li><a href="">专题</a></li>
            <li><a href="">社区</a></li>
            <li><a href="">话题</a></li>
            <li><a href="">活动</a></li>
            <li><a href="">搜索</a></li>
            <li><i class="iconfont icon-xiajiantou" style="padding:10px"></i>
                <div class="erji">
                    <a href="cart.html">烘焙</a>
                    <a href="">妈妈派</a></div>
            </li>
        </ul>
        <ul class="header-right">
            <li class="line"><a href="/reg">注册</a></li>
            <li class="line"><a href="/login">登录</a></li>
            <li class="disange">
                <a href=""><img src="/assets/images/nir1.png" alt="">QQ登录</a>
                <div class="erji2">
                    <div><a href=""><img src="/assets/images/nir2.png" alt="">微博登录</a></div>
                    <div><a href=""><img src="/assets/images/nir3.png" alt="">微信登录</a></div>
                </div>
            </li>
            <li>
                <a href=""><img src="http://static.meishichina.com/v6/img/lib/nr1.png" alt="">发布</a>
                <ul class="erji3">
                    <li><a href="">发菜谱</a></li>
                    <li><a href="">发话题</a></li>
                    <li><a href="">发日志</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr2.png" alt="">签到有礼</a></li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr3.png" alt="">客户端</a>
                <div class="erji4"><img src="/assets/images/msc_app.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <!-- 页面开始 -->
    <div id="container">
        <div class="nav">
            <a href=""><img src="/assets/images/logo.png" alt="">
            </a>
            <div class="search">
                <input type="text">
                <a href="">
                    <i class="iconfont icon-sousuo-sousuo-copy"></i>
                    搜索</a>
            </div>
            <ul>
                <li><a href=""></a>首页</li>
                <li><a href="list.html"></a>菜谱</li>
                <li><a href=""></a>食材</li>
                <li><a href=""></a>珍选</li>
                <li><a href=""></a>健康</li>
                <li><a href=""></a>专题</li>
                <li><a href=""></a>社区</li>
                <li><a href=""></a>话题</li>
            </ul>
        </div>
    </div>
    <!-- 轮播图开始 -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <div class="lunbo">
        <div class="lun">
            <ul>
                <li><img src="/assets/images/1.jpg" alt=""></li>
                <li><img src="/assets/images/2.jpg" alt=""></li>
                <li><img src="/assets/images/3.jpg" alt=""></li>
                <li><img src="/assets/images/4.jpg" alt=""></li>
                <li><img src="/assets/images/5.jpg" alt=""></li>
                <li><img src="/assets/images/6.jpg" alt=""></li>
            </ul>
        </div>
        <ol class="lol">
            <li><a href="#"><span class="active"></span>
                </a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ol>
        <div class="left-erji">
            <ul>
                <li><a href=""><i></i>菜谱大全<b></b></a>
                    <div class="left-erji1">
                        <ul>
                            <li><a href="">夏季食谱<span>看看大家在吃啥</span></a></li>
                            <li><a href="">早餐<span>向国王一样的早餐</span></a></li>
                            <li><a href="">高颜值<span>颜控专用通道</span></a></li>
                            <li><a href="">凉菜<span>精选2600道</span></a></li>
                            <li><a href="">热菜<span>精选42500道</span></a></li>
                            <li><a href="">汤羹<span>精选6800道</span></a></li>
                            <li><a href="">主食<span>精选18000道</span></a></li>
                            <li><a href="">小吃<span>精选11000道</span></a></li>
                            <li><a href="">酱泡腌菜<span>精选700道</span></a></li>
                            <li><a href="">新秀菜谱<span>最新的优秀菜谱</span></a></li>
                            <li><a href="">人气菜肴<span>超过50人收藏</span></a></li>
                            <li><a href="">所有分类<span>美天的神奇饭盒</span></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href=""><i></i>食材大全<b></b></a>
                    <div class="left-erji2">
                        <ul>
                            <li><a href="">秋葵<span>新晋VC王</span></a></li>
                            <li><a href="">西红柿<span>共3160道菜谱</span></a></li>
                            <li><a href="">黑木耳<span>百搭配菜，防雾霾</span></a></li>
                            <li><a href="">小龙虾<span>红到勾心，辣到流泪</span></a></li>
                            <li><a href="">螃蟹<span>全民爆红</span></a></li>
                            <li><a href="">鸡翅<span>共1156道菜谱</span></a></li>
                            <li><a href="">肉禽蛋<span>共231种</span></a></li>
                            <li><a href="">水产品<span>共288种</span></a></li>
                            <li><a href="">蔬菜瓜菌<span>共473种</span></a></li>
                            <li><a href="">鲜果干果<span>共196种</span></a></li>
                            <li><a href="">米面豆乳<span>共180种</span></a></li>
                            <li><a href="">营养排行<span>看看谁TOP!</span></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href=""><i></i>品质珍选<b></b></a>
                    <div class="left-erji3">
                        <ul>
                            <li><a href="">浪漫七夕<span>为他挑选一份小礼物</span></a></li>
                            <li><a href="">葡萄酒<span>亚马逊海外直采</span></a></li>
                            <li><a href="">咖啡<span>和生活约会</span></a></li>
                            <li><a href="">限时秒杀<span>抢到就是赚到，手慢无</span></a></li>
                            <li><a href="">白菜价<span>超值爆款</span></a></li>
                            <li><a href="">买了又买<span>买了又双叒叕买</span></a></li>
                            <li><a href="">厨房神器<span>神器在手，美食无忧</span></a></li>
                            <li><a href="">镇店之宝<span>不可错过的明星产品</span></a></li>
                            <li><a href="">海淘食光<span>搜罗全世界的好东西</span></a></li>
                        </ul>
                    </div>
                </li>
                <li><a href=""><i></i>专题专区<b></b></a>
                    <div class="left-erji4">
                        <ul>
                            <li><a href="">菜单<span>由网友创建的专题</span></a></li>
                            <li><a href="">家常菜谱<span>居家必备368款</span></a></li>
                            <li><a href="">食疗食补<span>共212个专题</span></a></li>
                            <div><a href=""><img src="/assets/images/mamapai.jpg" alt=""></a></div>
                            <div><a href=""><img src="/assets/images/hongbei.jpg" alt=""></a></div>
                        </ul>
                    </div>
                </li>
                <li><a href=""><i></i>一起红<b></b></a>
                    <div class="left-erji5">
                        <div><a href=""><img src="/assets/images/erweima.jpg" alt=""></a></div>
                        <div><a href=""><img src="/assets/images/tu.jpg" alt=""></a></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="wenzi-lunbo-dianji">
            <span class="lunbo12-left"><a href="javascript:void(0);"><i class="iconfont icon-zuojiantou"></i></a></span>
            <div class="lunbo12">
                <ul class="lun12">
                    <li>
                        <h2><a href="">五分钟的营养早餐1</a></h2>
                        <p><span>馋嘴狼的菜单</span><br>美好的一天从一份快手的营养早餐开始，亲爱的你要记得吃早餐哦～</p>
                    </li>
                    <li>
                        <h2><a href="">最爱的鸡胗鸭脖美味2</a></h2>
                        <p><span>先锋号姐的菜单</span><br>追剧的时候如果能有一份麻辣鸭脖相伴，那简直不能太棒了！原来大神们都是这样做的！</p>
                    </li>
                    <li>
                        <h2><a href="">素食家常菜3</a></h2>
                        <p><span>阿弥陀佛的菜单</span><br>美滋滋的素食家常菜，晚上吃多了也不怕发胖，没有肉也能做出超美味的家常菜！</p>
                    </li>
                    <li>
                        <h2><a href="">西瓜的正确打开方式4</a></h2>
                        <p><span>起名好麻烦啊的菜单</span><br>夏天到了，西瓜成为了最解渴的水果。那你是切成块吃？用勺子挖着吃？</p>
                    </li>
                    <li>
                        <h2><a href="">街头小吃搬回家5</a></h2>
                        <p><span>小美的菜单</span><br>街头小吃棒棒哒～吃货的世界就是极易满足，不为吃饱，知识单纯的解馋～</p>
                    </li>
                    <li>
                        <h2><a href="">爱吃不要胖！6</a></h2>
                        <p><span>miffyna的菜单</span><br>作为一名吃货，总是难以抵挡这些美食的诱惑，但是只希望爱吃的我不要再胖了</p>
                    <li>
                        <h2><a href="">无肉不欢家常荤菜7</a></h2>
                        <p><span>花开成海的菜单</span><br>家常菜还是那么的百吃不厌，时令蔬菜和肉肉的搭配简直不能太完美！</p>
                    </li>
                    <li>
                        <h2><a href="">把经典小吃搬回家8</a></h2>
                        <p><span>绿色天使的菜单</span><br>每个地方的小吃最能体现民风了，自己动手做那些让人回味无穷的熟悉的味道。</p>
                    </li>
                    <li>
                        <h2><a href="">夏至养生，饮食宜清淡9</a></h2>
                        <p><span>小美的菜单 </span><br>夏至是阳气最旺的时节，养生要顺应夏季阳盛于外的特点，注意保护阳气。</p>
                    </li>
                    <li>
                        <h2><a href="">五分钟的营养早餐10</a></h2>
                        <p><span>馋嘴狼的菜单</span><br>美好的一天从一份快手的营养早餐开始，亲爱的你要记得吃早餐哦～</p>
                    </li>
                    <li>
                        <h2><a href="">最爱的鸡胗鸭脖美味11</a></h2>
                        <p><span>先锋号姐的菜单</span><br>追剧的时候如果能有一份麻辣鸭脖相伴，那简直不能太棒了！原来大神们都是这样做的！</p>
                    </li>
                    <li>
                        <h2><a href="">素食家常菜12</a></h2>
                        <p><span>阿弥陀佛的菜单</span><br>美滋滋的素食家常菜，晚上吃多了也不怕发胖，没有肉也能做出超美味的家常菜！</p>
                    </li>
                </ul>
            </div>
            <span class="lunbo12-right"><a href="javascript:void(0);"><i class="iconfont icon-jiantouyou"></i></a></span>
        </div>
        <div class="xuanxiangka">
            <div class="ka1">
                <div class="ka1-title">
                    <h2><a href="javascript:void(0)" class="active1">健康</a></h2>
                    <h2><a href="javascript:void(0)" class="shiliao">食疗</a></h2><a href="#">健康首页</a>
                </div>
                <ul class="ka1-1">
                    <img src="http://i3.meishichina.com/attachment/magic/2017/05/16/20170516149490129758713.jpg" alt="">
                    <li><a href="">九个“最”教你夏天吃什么最好</a></li>
                    <li><a href="">头皮出油头屑严重 该怎么养发护发？</a></li>
                    <li><a href="">5款消脂减肥茶，不运动照样瘦</a></li>
                    <li><a href="">夏季常吃七种食物 让你的肌肤越吃越白</a></li>
                    <li><a href="">那些美颜食物的神级吃法</a></li>
                    <li><a href="">低卡减肥餐，让你瘦到飞起来</a></li>
                </ul>
                <ul class="ka1-2">
                    <li><a href="">瘦身</a></li>
                    <li><a href="">丰胸</a></li>
                    <li><a href="">养颜</a></li>
                    <li><a href="">排毒</a></li>
                    <li><a href="">补钙</a></li>
                    <li><a href="">贫血</a></li>
                    <li><a href="">滋阴</a></li>
                    <li><a href="">壮阳</a></li>
                    <li><a href="">失眠</a></li>
                    <li><a href="">消暑</a></li>
                    <li><a href="">免疫力</a></li>
                    <li><a href="">养胃</a></li>
                    <li><a href="">痛经</a></li>
                    <li><a href="">月经不调</a></li>
                    <li><a href="">前列腺</a></li>
                    <li><a href="">抗衰老</a></li>
                    <li><a href="">防辐射</a></li>
                    <li><a href="">抗雾霾</a></li>
                </ul>
            </div>
            <div class="ka2">
                <div class="ka2-title">
                    <h2><a href="javascript:void(0)" class="active2">烘焙</a></h2>
                    <h2><a href="javascript:void(0)" class="shipu">食谱</a></h2><a href="#">烘焙专区</a>
                </div>
                <ul class="ka2-1">
                    <img src="http://i3.meishichina.com/attachment/magic/2017/05/22/20170522149542394549913.jpg" alt="">
                    <li><a href="">初春の粉红 - 樱花马卡龙</a></li>
                    <li><a href="">桃花主题美食 - 桃花酥酥</a></li>
                    <li><a href="">内藏惊喜的彩虹戚风蛋糕</a></li>
                    <li><a href="">消耗蛋挞皮－简单版红薯酥 </a></li>
                    <li><a href="">菜单┊奥利奥的N种百搭吃法</a></li>
                    <li><a href="">专题┊另类咸香口儿 满足你的味蕾！</a></li>
                </ul>
                <ul class="ka2-2">
                    <li><a href="">吐司</a></li>
                    <li><a href="">三明治</a></li>
                    <li><a href="">马芬</a></li>
                    <li><a href="">布朗尼</a></li>
                    <li><a href="">蛋糕卷</a></li>
                    <li><a href="">玛德琳</a></li>
                    <li><a href="">舒芙蕾</a></li>
                    <li><a href="">纸杯蛋糕</a></li>
                    <li><a href="">戚风</a></li>
                    <li><a href="">马卡龙</a></li>
                    <li><a href="">糖霜饼干</a></li>
                    <li><a href="">曲奇</a></li>
                    <li><a href="">披萨</a></li>
                    <li><a href="">泡芙</a></li>
                    <li><a href="">蛋挞</a></li>
                    <li><a href="">派塔</a></li>
                    <li><a href="">中式糕点</a></li>
                    <li><a href="">酥</a></li>
                </ul>
            </div>
            <div class="ka3">
                <div class="ka3-title">
                    <h2><a href="javascript:void(0)" class="active1">为你推荐</a></h2><a href="#">我的收藏</a>
                </div>
                <ul class="ka3-1">
                    <img src="http://i3.meishichina.com/attachment/magic/2017/06/14/20170614149743540922213.jpg" alt="">
                    <li><a href="">爱上素食 一种更健康的生活方式</a></li>
                    <li><a href="">划重点！食物降血脂这些更有效</a></li>
                    <li><a href="">粗粮细作：健康能量燕麦甜品 </a></li>
                    <li><a href="">妈妈派┊童趣童味，儿童创意餐点</a></li>
                    <li><a href="">免费试用┊信任之美，五常大米稻花香</a></li>
                    <li><a href="">菜谱征集┊ACA第四届烘焙大赛总决赛</a></li>
                </ul>
            </div>
        </div>
        <div class="xuanxiangka2">
            <div class="nav1">
                <h3><a href="javascript:void(0)" class="active3">新秀菜谱</a></h3>
                <h3><a href="javascript:void(0)" class="yizhou">一周热门</a></h3>
                <h3><a href="javascript:void(0)" class="zuishou">最受欢迎的家常菜</a></h3>
                <span>
                    <a href="">热菜</a>
                    <a href="">凉菜</a>
                    <a href="">汤羹</a>
                    <a href="">主食</a>
                    <a href="">小吃</a>
                    <a href="">西餐</a>
                    <a href="">菜谱首页</a>
                </span>
            </div>
            <div class="tupian">
                <ul>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149787368027713.jpg@!c640" alt=""></div>
                        <p>豆豉双椒</p><a href="">salila82</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149787354560313.jpg@!c640" alt=""></div>
                        <p>干炸里脊</p><a href="">食趣菜菜屋的屋</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/2017061914978652268118457616.jpg@!c640" alt=""></div>
                        <p>番茄咸肉面包</p><a href="">菜菜烘焙屋</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149786594353213.jpg@!c640" alt=""></div>
                        <p>开胃酸辣凤爪</p><a href="">sourcehe</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149786482594913.jpg@!c640" alt=""></div>
                        <p>减肥餐</p><a href="">个性胜过姿色</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149786350844613.jpg@!c640" alt=""></div>
                        <p>韩国泡菜方便面</p><a href="">HI花花儿</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149786070923613.jpg@!c640" alt=""></div>
                        <p>梅菜扣肉</p><a href="">给宝贝做的饭</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/19/20170619149786074357813.jpg@!c640" alt=""></div>
                        <p>胡萝卜风味的流沙包</p><a href="">黄豆豆的一家</a>
                    </li>
                </ul>
            </div>
            <div class="tupian1">
                <ul>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/14/20170614149740613826713.jpg@!c320" alt=""></div>
                        <p>青椒茄子</p><a href="">舍得的美食诱惑</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/13/20170613149732106099313.jpg@!c320" alt=""></div>
                        <p>麻辣小土豆</p><a href="">舍得的美食诱惑</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/13/20170613149733649695213.jpg@!c320" alt=""></div>
                        <p>梅菜扣肉</p><a href="">lovegaily</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/12/20170612149727723379913.jpg@!c320" alt=""></div>
                        <p>尖椒回锅肉</p><a href="">厨娘宋宋</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/17/20170617149768888760513.jpg@!c320" alt=""></div>
                        <p>香滑蒸鸡翅</p><a href="">零下一度0511</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/13/20170613149731915185913.jpg@!c320" alt=""></div>
                        <p>鸡丝凉面</p><a href="">乐悠厨房</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/13/20170613149735953146413.jpg@!c320" alt=""></div>
                        <p>蒜蓉蒸虾</p><a href="">吃货累</a>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/16/20170616149759996711413.jpg@!c320" alt=""></div>
                        <p>不用洗面的凉皮</p><a href="">心曲之旅</a>
                    </li>
                </ul>
            </div>
            <div class="tupian2">
                <ul>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2015/11/26/201511261448511476963.jpg@!c320" alt=""></div>
                        <p>红烧肉</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/16/201412161418708820256.jpg@!c320" alt=""></div>
                        <p>红烧茄子</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/17/201412171418792288850.jpg@!c320" alt=""></div>
                        <p>宫保鸡丁</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/17/201412171418794418131.jpg@!c320" alt=""></div>
                        <p>麻辣香锅</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/15/201412151418633910888.jpg@!c320" alt=""></div>
                        <p>红烧排骨</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/15/201412151418633722494.jpg@!c320" alt=""></div>
                        <p>糖醋排骨</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/15/201412151418637339893.jpg@!c320" alt=""></div>
                        <p>鱼香肉丝</p>
                    </li>
                    <li>
                        <div class="fangda"><img src="http://i3.meishichina.com/attachment/mofang/2014/12/15/201412151418629886725.jpg@!c320" alt=""></div>
                        <p>红烧肉</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tupianzhanshi">
            <div class="nav2">
                <h3><a href="javascript:void(0)" class="active4">时令食材</a></h3>
                <span>
                    <a href="">肉禽蛋</a>
                    <a href="">水产品</a>
                    <a href="">蔬菜</a>
                    <a href="">米面豆乳</a>
                    <a href="">食材首页</a>
                </span>
            </div>
            <div class="tupian3">
                <ul>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/sun.jpg" alt=""></div><a href="">
                            <p>芦笋</p>
                        </a><span>抗癌之王</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/doufu.jpg" alt=""></div><a href="">
                            <p>豆腐</p>
                        </a><span>餐桌上的软妹子</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/mangguo.jpg" alt=""></div><a href="">
                            <p>芒果</p>
                        </a><span> 芒吗？想和你聊聊</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/yingtao.jpg" alt=""></div><a href="">
                            <p>樱桃</p>
                        </a><span>樱为爱，所以爱</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/jiaobai.jpg" alt=""></div><a href="">
                            <p>茭白</p>
                        </a><span>初夏美人腿</span>
                    </li>
                    <li>
                        <div><img src="http://static.meishichina.com/v6/img/2016/kugua.jpg" alt=""></div><a href="">
                            <p>苦瓜</p>
                        </a><span>共苦是件很甜的事</span>
                    </li>
                    <li>
                        <div><img src="http://static.meishichina.com/v6/img/2016/heimuer.jpg" alt=""></div><a href="">
                            <p>黑木耳</p>
                        </a><span>八朵木耳一身轻</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/peigen.jpg" alt=""></div><a href="">
                            <p>培根</p>
                        </a><span>肉肉就是力量</span>
                    </li>
                    <li>
                        <div><img src="http://static.meishichina.com/v6/img/2016/QingKouBei.jpg" alt=""></div><a href="">
                            <p>青口贝</p>
                        </a><span>贝中妖姬</span>
                    </li>
                    <li>
                        <div><img src="http://static.meishichina.com/v6/img/2016/jichi.jpg" alt=""></div><a href="">
                            <p>鸡翅</p>
                        </a><span>老少通吃</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/guiyu.jpg" alt=""></div><a href="">
                            <p>桂鱼</p>
                        </a><span>桃花流水鳜鱼肥</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/xia.jpg" alt=""></div><a href="">
                            <p>虾</p>
                        </a><span>爱虾说</span>
                    </li>
                    <li>
                        <div><img src="http://static.meishichina.com/v6/img/2016/paigu.jpg" alt=""></div><a href="">
                            <p>排骨</p>
                        </a><span>可记得吮指之乐</span>
                    </li>
                    <li>
                        <div><img src="http://i3.meishichina.com/static/shicai/hali.jpg" alt=""></div><a href="">
                            <p>蛤蜊</p>
                        </a><span>情迷西施舌</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="huati">
            <div class="nav3">
                <h3><a href="javascript:void(0)" class="active5">热门话题</a></h3>
                <h3><a href="javascript:void(0)" class="jinghua">精华日志</a></h3>
                <span>
                    <a href="">全部话题</a>
                    <a href="">全部日志</a>
                    <a href="">社区首页</a>
                </span>
            </div>
            <ul class="pinglun">
                <li>
                    <div class="touxiang">
                        <img src="http://i3.meishichina.com/data/avatar/008/22/12/47_avatar_big.jpg@!c120?v=20170619" alt="">
                        <div class="yonghuming">
                            <a href="">金凤栖梧</a>
                            <span>5小时前</span>
                        </div>
                    </div>
                    <div class="tuwen">
                        <a href=""><b>我们身边的深夜食堂~西红柿拌糖</b><br>今天晚上菜之一~西红柿拌糖，让我想起小时候，夏天夜长，晚上实......</a>
                        <a href="" class="santu">
                            <img src="http://i3.meishichina.com/attachment/pai/2017/06/19/201706191497862751528.jpg@!c180" alt="">
                            <img src="http://i3.meishichina.com/attachment/pai/2017/06/19/201706191497862751120.jpg@!c180" alt="">
                            <img src="http://i3.meishichina.com/attachment/pai/2017/06/19/201706191497862751899.jpg@!c180" alt="">
                        </a>
                        <span>14个喜欢，12条评论</span>
                    </div>
                </li>
                <li>
                    <div class="touxiang2"><img src="http://i3.meishichina.com/data/avatar/008/69/79/13_avatar_big.jpg@!c120?v=20170619" alt="">
                        <div class="yonghuming2"><a href="">HI花花儿</a><span>11小时前</span></div>
                    </div>
                    <div class="tuwen2">
                        <a href="">我们身边的深夜食堂
                            学生时代的深夜食堂情有独钟方便面，读高中的时候每天晚自习下课后，几个闺蜜都会去小卖部买上方......</a>
                        <a href="" class="santu">
                            <img src="http://i3.meishichina.com/attachment/pai/2017/06/19/201706191497846139350.jpg@!c180" alt="">
                            <img src="http://i3.meishichina.com/attachment/pai/2017/06/19/201706191497846140948.jpg@!c180" alt="">
                            <img src="http://i3.meishichina.com/attachment/pai/2017/06/19/201706191497846140762.jpg@!c180" alt="">
                        </a>
                        <span>17个喜欢，14条评论</span>
                    </div>
                </li>
            </ul>
            <div class="duotu">
                <ul>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/19/20170619149786001689913.jpg" alt="">
                            <p>梅菜扣肉</p><a href="">给宝贝做的饭</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/19/20170619149786001689913.jpg" alt="">
                            <p>清蒸带鱼</p><a href="">君梦深蓝</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/17/20170617149769330723413.jpg" alt="">
                            <p>虾皮炒萝卜干</p><a href="">sourcehe</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/17/20170617149769334321113.jpg" alt="">
                            <p>快速版水晶肉皮冻</p><a href="">叶子的小厨</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/16/20170616149759598952213.jpg" alt="">
                            <p>​父亲节早餐生煎包</p><a href="">sourcehe</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/15/20170615149751921591413.jpg" alt="">
                            <p>红枣枸杞煮甜米酒</p><a href="">sourcehe</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/15/20170615149750431776713.jpg" alt="">
                            <p>奶酪脆皮冰淇淋</p><a href="">给宝贝做的饭</a>
                        </a></li>
                    <li><a href=""><img src="http://i3.meishichina.com/attachment/blog/2017/06/15/20170615149748988074913.jpg">
                            <p>玉米青豆猪肉丁</p><a href="">rosejyy2000</a>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="zuihou">
            <div class="zuihou-left">
                <p><a href="">美食天下 - 让吃更美好！</a></p>
                <p>
                    <a href="">关于我们</a> ·
                    <a href="">联系我们</a> ·
                    <a href="">加入我们</a> ·
                    <a href="">服务声明</a> ·
                    <a href="">友情链接</a> ·
                    <a href="">网站地图</a> ·
                    <a href="">移动应用</a>
                </p>
            </div>
            <div class="erweima"><img src="http://static.meishichina.com/v6/img/model/weixin_727.png" alt="">微信公众号</div>
            <div class="erweima"><img src="http://static.meishichina.com/v6/img/model/msc_app.png" alt="">手机客户端</div>
            <div class="wangzhi">
                <ul>
                    <li><strong>友情链接：</strong></li>
                    <li><a href="">爱奇艺生活</a></li>
                    <li><a href="">应用汇</a></li>
                    <li><a href="">中华美食网</a></li>
                    <li><a href="">太平洋亲子网</a></li>
                    <li><a href="">美食杰</a></li>
                    <li><a href="">POCO美食网</a></li>
                    <li><a href="">红餐网</a></li>
                    <li><a href="">食品商务网</a></li>
                    <li><a href="">妈妈网</a></li>
                    <li><a href="">亲宝网</a></li>
                    <li><a href="">6296网址大全</a></li>
                    <li><a href="">中国地图</a></li>
                    <li><a href="">三九养生堂</a></li>
                    <li><a href="">饭菜网</a></li>
                    <li><a href="">波奇网</a></li>
                    <li><a href="">糖豆网</a></li>
                    <li><a href="">慧聪网</a></li>
                    <li><a href="">企业服务平台</a></li>
                    <li><a href="">什么值得买</a></li>
                    <li><a href="">一点资讯</a></li>
                    <li><a href="">铲土官</a></li>
                </ul>
            </div>
            <div class="banquan">
                <p>版权所有 © 2004-2017 美食天下 保留所有权利 - 京公网安备 11010502031041号 / 京ICP证090244号 / 京ICP备10020153号</p>
                <div class="shiming">
                    <img src="http://static.anquan.org/static/outer/image/sm_124x47.png?id=home.meishichina.com" alt="">
                    <img src="http://static.meishichina.com/v6/img/temp/cnnic.png" alt="">
                </div>
            </div>
        </div>
        <a href="" class="maodian"><img src="http://static.meishichina.com/v6/img/wap_a/gotop.png" alt=""></a>
</body>

</html>