<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户登录-美食天下</title>
    <!-- 页面重置样式库 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- 页面图标样式库 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_u4hkaw2ew8m8ia4i.css">
    <!-- 选项卡的小图标 -->
    <link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico" />
    <!-- css样式库 -->
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div class="header">
        <ul class="header-left">
            <li><a href=""><i class="top-bar"></i>首页</a></li>
            <li><a href="">菜谱</a></li>
            <li><a href="">食材</a></li>
            <li><a href="">珍选</a></li>
            <li><a href="">健康</a></li>
            <li><a href="">专题</a></li>
            <li><a href="">社区</a></li>
            <li><a href="">话题</a></li>
            <li><a href="">活动</a></li>
            <li><a href="">搜索</a></li>
            <li><i class="iconfont icon-xiajiantou" style="padding:10px"></i>
                <div class="erji">
                    <a href="">烘焙</a>
                    <a href="">妈妈派</a></div>
            </li>
        </ul>
        <ul class="header-right">
            <li class="line"><a href="">注册</a></li>
            <li class="line"><a href="">登录</a></li>
            <li class="disange">
                <a href=""><img src="/assets/images/nir1.png" alt="">QQ登录</a>
                <div class="erji2">
                    <div><a href=""><img src="/assets/images/nir2.png" alt="">微博登录</a></div>
                    <div><a href=""><img src="/assets/images/nir3.png" alt="">微信登录</a></div>
                </div>
            </li>
            <li>
                <a href=""><img src="http://static.meishichina.com/v6/img/lib/nr1.png" alt="">发布</a>
                <ul class="erji3">
                    <li><a href="">发菜谱</a></li>
                    <li><a href="">发话题</a></li>
                    <li><a href="">发日志</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr2.png" alt="">签到有礼</a></li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr3.png" alt="">客户端</a>
                <div class="erji4"><img src=".//assets/images/msc_app.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <div class="beijing">
        <img src="http://i3.meishichina.com/attachment/magic/2017/04/11/20170411149189588154913.jpg" alt="">
        <img src="http://i3.meishichina.com/attachment/magic/2016/07/20/20160720146900157818213.jpg" alt="">
        <img src="http://i3.meishichina.com/attachment/magic/2016/01/16/20160116145293986916713.jpg" alt="">
        <img src="http://i3.meishichina.com/attachment/magic/2015/12/08/201512081449543644253.jpg" alt="">
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/reg.js"></script>
    <div class="logon">
        <div class="nav">
            <a href="">注册</a>
            <a href="">登录</a>
        </div>
        <div class="left">
            <form>
                <ul>
                    <li><span>手机号/昵称：</span><input type="text" name="username" class="pop"></li>
                    <li><span>密　码：</span><input type="password" name="password" class="password"></li>
                </ul>
                <p class="danxuan">
                    <input type="checkbox">下次自动登录
                    <a href="">忘记密码？</a>
                </p>
                <input type="button" value="登录" class="denglu">
            </form>
        </div>
        <div class="right">
            <img src="http://static.meishichina.com/v6/img/model/msc_app.png" alt="">
            <p>扫描二维码下载客户端</p>
            <a href=""><img src="http://static.meishichina.com/v6/img/zhen/ix2.png?v=2" alt=""></a>
            <a href=""><img src="http://static.meishichina.com/v6/img/zhen/ix2.png?v=2" alt=""></a>
            <a href=""><img src="http://static.meishichina.com/v6/img/zhen/ix2.png?v=2" alt=""></a>
        </div>
    </div>
    <script>
    // $(function() {
    //     console.log(1);
    //     var pop = document.querySelector(".pop");
    //     pop.onblur = function() {
    //         var value = this.value;
    //         console.log(value);

    //         $.get('reg.php', { username: value }, function(msg) {
    //             console.log(msg)

    //         })
    //     }
    // })
    ///问题node.js无法解析php
    // var btn = document.querySelector(".denglu");
    //     var pop = document.querySelector(".pop");

    // username.onblur = function() {
    //     var xml = new XMLHttpRequest();
    //     var value = username.value;
    //     console.log(value)
    //     xml.onreadystatechange = function(msg) {
    //         console.log(msg)
    //         if (xml.readyState == 4 && xml.status == 200) {
    //             console.log(xml.responseText)
    //         }
    //     }
    //     xml.open('GET', 'reg.php?username=' + value, true);
    //     xml.send(null);
    // }
    </script>
</body>

</html>