<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>【图文】银丝卷的做法_银丝卷的家常做法_银丝卷怎么做好吃_做法步骤,视频_银丝卷-美食天下</title>
    <!-- 页面重置样式库 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- 页面图标样式库 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_3qunko1tllhm2t9.css">
    <!-- 选项卡的小图标 -->
    <link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico" />
    <!-- css样式库 -->
    <link rel="stylesheet" href="/assets/css/show.css">
</head>

<body>
    <div class="header">
        <ul class="header-left">
            <li><a href=""><i class="top-bar"></i>首页</a></li>
            <li><a href="">菜谱</a></li>
            <li><a href="">食材</a></li>
            <li><a href="">珍选</a></li>
            <li><a href="">健康</a></li>
            <li><a href="">专题</a></li>
            <li><a href="">社区</a></li>
            <li><a href="">话题</a></li>
            <li><a href="">活动</a></li>
            <li><a href="">搜索</a></li>
            <li><i class="iconfont icon-xiajiantou" style="padding:10px"></i>
                <div class="erji">
                    <a href="">烘焙</a>
                    <a href="">妈妈派</a></div>
            </li>
        </ul>
        <ul class="header-right">
            <li class="line"><a href="">注册</a></li>
            <li class="line"><a href="">登录</a></li>
            <li class="disange">
                <a href=""><img src="/assets/images/nir1.png" alt="">QQ登录</a>
                <div class="erji2">
                    <div><a href=""><img src="/assets/images/nir2.png" alt="">微博登录</a></div>
                    <div><a href=""><img src="/assets/images/nir3.png" alt="">微信登录</a></div>
                </div>
            </li>
            <li>
                <a href=""><img src="http://static.meishichina.com/v6/img/lib/nr1.png" alt="">发布</a>
                <ul class="erji3">
                    <li><a href="">发菜谱</a></li>
                    <li><a href="">发话题</a></li>
                    <li><a href="">发日志</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr2.png" alt="">签到有礼</a></li>
            <li><a href="javascript:void(0);"><img src="http://static.meishichina.com/v6/img/lib/nr3.png" alt="">客户端</a>
                <div class="erji4"><img src="/assets/images/msc_app.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <a href="" class="maodian"><img src="http://static.meishichina.com/v6/img/wap_a/gotop.png" alt=""></a>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/show.js"></script>
    <!-- 顶部开始 -->
    <div class="nav">
        <div class="logo">
            <img src="http://i3.meishichina.com/static/lib/logo.png" alt="">
        </div>
        <h1><a href="">菜谱</a></h1>
        <ul>
            <li><a href="">菜谱首页</a></li>
            <li><a href="">分类</a></li>
            <li><a href="">菜单</a></li>
            <li><a href="">排行</a></li>
            <li><a href="">食材</a></li>
            <li><a href="">食疗食补</a></li>
        </ul>
        <div class="sousuo">
            <a href=""><i class="iconfont icon-sousuo-sousuo-copy"></i> 搜索</a>
            <input type="text">
        </div>
    </div>
    <div class="nav2">
        <ul>
            <li><a href="">全部</a></li>
            <li><a href="">热菜</a></li>
            <li><a href="">凉菜</a></li>
            <li><a href="">汤羹</a></li>
            <li><a href="">主食</a></li>
            <li><a href="">小吃</a></li>
            <li><a href="">西餐</a></li>
            <li><a href="">烘焙</a></li>
            <li><a href="">饮品</a></li>
            <li><a href="">零食</a></li>
            <li><a href="">泡酱腌菜</a></li>
            <li><a href="">自制食材</a></li>
            <li><a href="">最新菜谱</a></li>
            <li class="yiru2"><a href="javascript:void(0);" id="yiru">浏览全部菜谱 ﹀</a>
                <div id="xiala">
                    <div class="xiala1">
                        <h5>主食/小吃/饮品</h5>
                        <ul>
                            <li><a href="">米饭</a></li>
                            <li><a href="">炒饭</a></li>
                            <li><a href="">包子</a></li>
                            <li><a href="">饺子</a></li>
                            <li><a href="">馒头花卷</a></li>
                            <li><a href="">面条</a></li>
                            <li><a href="">饼</a></li>
                            <li><a href="">粥</a></li>
                            <li><a href="">冰品</a></li>
                        </ul>
                    </div>
                    <div class="xiala1">
                        <h5>主食/小吃/饮品</h5>
                        <ul>
                            <li><a href="">米饭</a></li>
                            <li><a href="">炒饭</a></li>
                            <li><a href="">包子</a></li>
                            <li><a href="">饺子</a></li>
                            <li><a href="">馒头花卷</a></li>
                            <li><a href="">面条</a></li>
                            <li><a href="">饼</a></li>
                            <li><a href="">粥</a></li>
                            <li><a href="">冰品</a></li>
                        </ul>
                    </div>
                    <div class="xiala1">
                        <h5>主食/小吃/饮品</h5>
                        <ul>
                            <li><a href="">米饭</a></li>
                            <li><a href="">炒饭</a></li>
                            <li><a href="">包子</a></li>
                            <li><a href="">饺子</a></li>
                            <li><a href="">馒头花卷</a></li>
                            <li><a href="">面条</a></li>
                            <li><a href="">饼</a></li>
                            <li><a href="">粥</a></li>
                            <li><a href="">冰品</a></li>
                        </ul>
                    </div>
                    <div class="xiala1">
                        <h5>主食/小吃/饮品</h5>
                        <ul>
                            <li><a href="">米饭</a></li>
                            <li><a href="">炒饭</a></li>
                            <li><a href="">包子</a></li>
                            <li><a href="">饺子</a></li>
                            <li><a href="">馒头花卷</a></li>
                            <li><a href="">面条</a></li>
                            <li><a href="">饼</a></li>
                            <li><a href="">粥</a></li>
                            <li><a href="">冰品</a></li>
                        </ul>
                    </div>
                    <div class="xiala1">
                        <h5>主食/小吃/饮品</h5>
                        <ul>
                            <li><a href="">米饭</a></li>
                            <li><a href="">炒饭</a></li>
                            <li><a href="">包子</a></li>
                            <li><a href="">饺子</a></li>
                            <li><a href="">馒头花卷</a></li>
                            <li><a href="">面条</a></li>
                            <li><a href="">饼</a></li>
                            <li><a href="">粥</a></li>
                            <li><a href="">冰品</a></li>
                        </ul>
                    </div>
                    <div class="xiala1">
                        <h5>主食/小吃/饮品</h5>
                        <ul>
                            <li><a href="">米饭</a></li>
                            <li><a href="">炒饭</a></li>
                            <li><a href="">包子</a></li>
                            <li><a href="">饺子</a></li>
                            <li><a href="">馒头花卷</a></li>
                            <li><a href="">面条</a></li>
                            <li><a href="">饼</a></li>
                            <li><a href="">粥</a></li>
                            <li><a href="">冰品</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--  -->
    <div class="nav3">
        <img src="http://static.meishichina.com/v6/img/2016/9903_1.jpg" alt="">
        <div class="nav3-nav">
            <ul>
                <li>所属分类 :</li>
                <li><a href="">小吃</a></li>
                <li><a href="">下午茶</a></li>
                <li><a href="">北京菜</a></li>
                <li><a href="">夏季食谱</a></li>
                <li class="nav3-right"><a href="">手机菜谱</a></li>
                <li class="nav3-right"><a href="">家常菜谱</a></li>
            </ul>
        </div>
    </div>
    <!-- @@@@@@@@@@@ -->
    <div class="container">
        <div class="container-left">
            <div class="yinsi">
                <h1>银丝卷</h1>
                <a href=""><img src="http://i3.meishichina.com/data/avatar/006/35/76/90_avatar_big.jpg@!c200?v=1498178470" alt=""><span>小艾厨娘</span></a>
            </div>
            <div class="texiao">
                <a href="javascript:void(0);"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116354596357690.jpg@!p800" alt="">
                    <div class="sanzhang-tu">
                        <span> </span>
                        <span>三张图片</span>
                    </div>
                </a>
                <!--  -->
                <div class="dianji-qietu">
                    <div class="lunbotu">
                        <div class="lunbo-1-left">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116354596357690.jpg@!p800" alt="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116293436357690.jpg@!p800" alt="" class="tu">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116641556357690.jpg@!p800" alt="">
                        </div>
                        <div class="aniu-right"><a href="javascript:void(0)"><i></i></a></div>
                        <div class="aniu-left"><a href="javascript:void(0)"><i></i></a></div>
                    </div>
                    <div class="qietu">
                        <h3>银丝卷</h3>
                        <div class="fang-tu">
                            <ul>
                                <li><a href="javascript:void(0);"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116354596357690.jpg@!c80" alt=""></a></li>
                                <li><a href="javascript:void(0);"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116293436357690.jpg@!c80" alt=""></a></li>
                                <li><a href="javascript:void(0);"><img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980116641556357690.jpg@!c80" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="chahao">
                            <a href="javascript:void(0);"></a>
                        </div>
                    </div>
                    <!--  -->
                </div>
                <div class="wenzi">
                    <span>“</span>
                    <p>这道著名的点心在家也可以做家庭版的。银丝卷乍看起来有点像馒头，其实里面大有说道，掰开银丝卷里面藏着屡屡面丝，银丝软绵油润，有淡淡的甜味，外皮劲道有嚼劲，散发自然的麦香味。</p><span>”</span>
                </div>
            </div>
            <div class="shicai">
                <h3>食材明细</h3>
            </div>
            <div class="mianfen">
                <ul>
                    <li>
                        <p>面粉</p><br>750克
                    </li>
                    <li>
                        <p><b>酵母</b></p><br>7克
                    </li>
                    <li>
                        <p><a href=""><b>泡打粉</b></a></p><br>3克
                    </li>
                    <li>
                        <p><b>绵白糖</b></a></p><br>300克
                    </li>
                    <li>
                        <p><b>植物油</b></a></p><br>适量
                    </li>
                </ul>
                <ul>
                    <li><a href="">
                            <p>甜味</p><br>口味
                        </a></li>
                    <li><a href="">
                            <p>蒸</p><br>工艺
                        </a></li>
                    <li><a href="">
                            <p>数小时</p><br>耗时
                        </a></li>
                    <li><a href="">
                            <p>高级</p><br>难度
                        </a></li>
                </ul>
            </div>
            <div class="zuofa">
                <h3>银丝卷的做法步骤</h3>
            </div>
        </div>
        <div class="buzhou">
            <ul>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980125887586357690.jpg@!p320" alt="">
                    <div class="xulie">1</div>
                    <p>准备500克面粉，加绵白糖、泡打粉搅匀。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980126226096357690.jpg@!p320" alt="">
                    <div class="xulie">2</div>
                    <p>5克酵母用温水化开，和面。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980126802946357690.jpg@!p320" alt="">
                    <div class="xulie">3</div>
                    <p>另取250克面粉加绵白糖加2克酵母，活成面团。分别将两块面团活好备用。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980127512866357690.jpg@!p320" alt="">
                    <div class="xulie">4</div>
                    <p>将250克面粉活的面团揉匀。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980126722056357690.jpg@!p320" alt="">
                    <div class="xulie">5</div>
                    <p>像擀面条一样擀开。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980126979456357690.jpg@!p320" alt="">
                    <div class="xulie">6</div>
                    <p>折叠整齐。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980127046306357690.jpg@!p320" alt="">
                    <div class="xulie">7</div>
                    <p>切成面条形状。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980127107506357690.jpg@!p320" alt="">
                    <div class="xulie">8</div>
                    <p>将切好的面条分开成一条条。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980127189936357690.jpg@!p320" alt="">
                    <div class="xulie">9</div>
                    <p>面条抻细，刷上油，醒发。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980127263186357690.jpg@!p320" alt="">
                    <div class="xulie">10</div>
                    <p>500克面粉活的面发至2倍大。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980127347466357690.jpg@!p320" alt="">
                    <div class="xulie">11</div>
                    <p>取出揉光滑</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128002856357690.jpg@!p320" alt="">
                    <div class="xulie">12</div>
                    <p>切成等大的剂子。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128053586357690.jpg@!p320" alt="">
                    <div class="xulie">13</div>
                    <p>取一个剂子擀成圆片。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128134706357690.jpg@!p320" alt="">
                    <div class="xulie">14</div>
                    <p>将醒发好的面丝放上</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128228316357690.jpg@!p320" alt="">
                    <div class="xulie">15</div>
                    <p>下面皮往中心折，左右对折，上面皮往下折收口。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128297446357690.jpg@!p320" alt="">
                    <div class="xulie">16</div>
                    <p>分别包好每一个银丝卷</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128373056357690.jpg@!p320" alt="">
                    <div class="xulie">17</div>
                    <p>温水放锅里醒发20分钟。</p>
                </li>
                <li>
                    <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/2017062114980128449746357690.jpg@!p320" alt="">
                    <div class="xulie">18</div>
                    <p>大火上汽蒸20分钟即可。</p>
                </li>
            </ul>
            <div class="qiaomen">
                <h3>小窍门</h3>
            </div>
            <div class="qiaomen-buzhou">
                1、银丝卷的皮和银丝的面一定要分开和。银丝的面要软一些。<br><br>
                2、银丝面活好立即擀面，抻面然后再醒发。面要是发了不容易擀开。<br><br>
                3、糖的比例应该多一些要吃出甜味才好吃。<br><br>
                4、一定先做银丝，否则外皮容易发酸。<br><br>
                5、做好的银丝卷需要二次醒发。<br><br>
                使用的厨具：蒸锅<br><br>
            </div>
            <div class="jingling">
                <ul>
                    <li><a href="">
                            <i></i>
                            <span>10人喜欢</span>
                        </a></li>
                    <li><a href="">
                            <i></i>
                            <span>25人收藏</span>
                        </a></li>
                    <li><a href="">
                            <i></i>
                            <span>加入菜单</span>
                        </a></li>
                    <li><a href="">
                            <i></i>
                            <span>微信</span>
                        </a></li>
                    <li><a href="">
                            <i></i>
                            <span>QQ好友</span>
                        </a></li>
                    <li><a href="">
                            <i></i>
                            <span>QQ空间</span>
                        </a></li>
                    <li><a href="">
                            <i></i>
                            <span>新浪微博</span>
                        </a></li>
                </ul>
            </div>
            <div>
                <img src="http://static.meishichina.com/v6/img/2016/6403.jpg" alt="">
            </div>
            <div class="xigua">
                <img src="http://i3.meishichina.com/attachment/magic/2017/05/25/20170525149568098921313.jpg" alt="">
                <div class="xigua-right">
                    <p>
                        <h4><a href="">五分钟的营养早餐</a></h4>
                        <span>美好的一天从一份快手的营养早餐开始，亲爱的你要记得吃早餐哦～</span>
                        <p>
                            <p>
                                <h4><a href="">一道能打开你味蕾的蒸菜</a></h4>
                                <span>夏天炒一个菜就湿透一身汗，今天为大家带来几款健康美味又方便的蒸菜…</span>
                                <p>
                                    <p>
                                        <h4><a href="" class="hei">属于抹茶控们的福利</a></h4>
                                        <span>炎炎夏日，送你最清新的抹茶小甜品...</span>
                                        <p>
                                            <p>
                                                <h4><a href="" class="hei">花式饮品全攻略</a></h4>
                                                <span>送给你一个最完美的夏天～...</span>
                                                <p>
                                                    <p>
                                                        <h4><a href="" class="hei">五花八门的主食</a></h4>
                                                        <span>花样主食就足以让你眼花缭乱！…...</span>
                                                        <p>
                </div>
            </div>
            <div class="duotu">
                <ul>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/23/201706231498180530417240007.jpg@!f120x90" alt="">
                            <span>韩式凉拌荞麦面</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/23/2017062314981801715808075514.JPG@!f120x90" alt="">
                            <span>红糖花朵馒头</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/21/20170621149799589771434360.jpg@!f120x90" alt="">
                            <span>奥利奥雪媚娘</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/23/2017062314981493353146241101.jpg@!f120x90" alt="">
                            <span>奶油绿豆糕</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/23/2017062314981472181677283319.jpg@!f120x90" alt="">
                            <span>红糖火烧</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/22/2017062214981104082428424870.jpg@!f120x90" alt="">
                            <span>卤香口水鹌鹑蛋</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/22/2017062214981390179529829435.jpg@!f120x90" alt="">
                            <span>鸡蛋三明治</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/recipe/2017/06/22/20170622149814031319313.jpg@!f120x90" alt="">
                            <span>紫薯鲜虾面</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/201411/7/1_1415355399lnH9.jpg" alt="">
                            <span>经典私房牛肉面</span>
                        </a></li>
                    <li><a href="">
                            <img src="http://i3.meishichina.com/attachment/201411/7/1_14153555139P3C.jpg" alt="">
                            <span>女人美丽的秘密</span>
                        </a></li>
                </ul>
            </div>
            <table width="620" class="biaoge">
                <tr>
                    <td>
                        <h5>常见菜式</h5>
                    </td>
                    <td>
                        <h5>人群与功效</h5>
                    </td>
                    <td>
                        <h5>菜系</h5>
                    </td>
                    <td>
                        <h5>烘焙大全</h5>
                    </td>
                    <td>
                        <h5>当季食材</h5>
                    </td>
                    <td>
                        <h5>时下最热</h5>
                    </td>
                </tr>
                <tr>
                    <td><a href="">热菜</a></td>
                    <td><a href="">儿童</a></td>
                    <td><a href="">川菜</a></td>
                    <td><a href="">蛋糕</a></td>
                    <td><a href="">茄子</a></td>
                    <td><a href="">早餐</a></td>
                </tr>
                <tr>
                    <td><a href="">凉菜</a></td>
                    <td><a href="">孕妇</a></td>
                    <td><a href="">粤菜</a></td>
                    <td><a href="">面包</a></td>
                    <td><a href="">土豆</a></td>
                    <td><a href="">沙拉</a></td>
                </tr>
                <tr>
                    <td><a href="">主食</a></td>
                    <td><a href="">素菜</a></td>
                    <td><a href="">湘菜</a></td>
                    <td><a href="">三明治</a></td>
                    <td><a href="">排骨</a></td>
                    <td><a href="">开胃菜</a></td>
                </tr>
                <tr>
                    <td><a href="">汤羹</a></td>
                    <td><a href="">贫血</a></td>
                    <td><a href="">鲁菜</a></td>
                    <td><a href="">戚风蛋糕</a></td>
                    <td><a href="">苦瓜</a></td>
                    <td><a href="">快手菜</a></td>
                </tr>
                <tr>
                    <td><a href="">小吃</a></td>
                    <td><a href="">壮阳</a></td>
                    <td><a href="">浙菜</a></td>
                    <td><a href="">马芬</a></td>
                    <td><a href="">豆腐</a></td>
                    <td><a href="">爽口饮品</a></td>
                </tr>
                <tr>
                    <td><a href="">面条</a></td>
                    <td><a href="">痛经</a></td>
                    <td><a href="">北京菜</a></td>
                    <td><a href="">蛋挞</a></td>
                    <td><a href="">豆角</a></td>
                    <td><a href="">夏日冰品</a></td>
                </tr>
                <tr>
                    <td><a href="">炒饭</a></td>
                    <td><a href="">养生菜</a></td>
                    <td><a href="">日本料理</a></td>
                    <td><a href="">马卡龙</a></td>
                    <td><a href="">牛肉</a></td>
                    <td><a href="">自制食材</a></td>
                </tr>
                <tr>
                    <td><a href="">饼 / 粥</a></td>
                    <td><a href="">瘦身减肥</a></td>
                    <td><a href="">韩国料理</a></td>
                    <td><a href="">披萨</a></td>
                    <td><a href="">鸡肉</a></td>
                    <td><a href="">千道家常菜</a></td>
                </tr>
                <tr>
                    <td><a href="">酱泡腌菜</a></td>
                    <td><a href="">排毒养颜</a></td>
                    <td><a href="">法国菜</a></td>
                    <td><a href="">饼干 / 酥</a></td>
                    <td><a href="">意大利面</a></td>
                    <td><a href="">意大利面</a></td>
                </tr>
            </table>
            <div class="fabiao">
                <a href="">登录</a> 后参与讨论，发表评论
            </div>
            <div class="xiaolian">
                <div class="xiaolian-left">
                    <img src="http://static.meishichina.com/v6/img/model/smilies-icon.gif" alt="">
                </div>
                <span>Ctrl+Enter 也可提交哦</span>
                <div class="xiaolian-right">
                    <a href="">发表评论</a>
                </div>
            </div>
            <div class="zuixin">
                <p>最新评论 <strong>（4条）</strong></p>
            </div>
            <div class="juele">
                <ul>
                    <li>
                        <img src="http://i3.meishichina.com/data/avatar/008/22/49/80_avatar_big.jpg@!c120?v=20170623" alt="">
                        <a href="">暗伤知影</a><span>2017-06-21 23:14</span>
                        <div class="juele-right">
                            <a href="">回复</a>
                        </div>
                        <div class="chuyi">这厨艺，绝了！</div>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/data/avatar/001/96/17/68_avatar_big.jpg@!c120?v=20170623" alt="">
                        <a href="">洋桔梗</a><span>2017-06-21 18:29</span>
                        <div class="juele-right">
                            <a href="">回复</a>
                        </div>
                        <div class="chuyi">有一种感觉叫羡慕，我泪奔</div>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/data/avatar/008/22/77/58_avatar_big.jpg@!c120?v=20170623" alt="">
                        <a href="">可子猫mao</a><span>2017-06-21 17:17</span>
                        <div class="juele-right">
                            <a href="">回复</a>
                        </div>
                        <div class="chuyi">早已垂涎三尺了</div>
                    </li>
                    <li>
                        <img src="http://i3.meishichina.com/data/avatar/008/22/88/43_avatar_big.jpg@!c120?v=20170623" alt="">
                        <a href="">大青马</a><span>2017-06-21 14:11</span>
                        <div class="juele-right">
                            <a href="">回复</a>
                        </div>
                        <div class="chuyi">绝对惊艳，高手出招毕竟不同啊。</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="weibu">
            <div class="weibu-left">
                <p><a href="">美食天下 - 让吃更美好！</a></p><br>
                <p>菜谱 · 食材 · 魔方 · 关于我们 · 联系我们 · 加入我们 · 服务声明 · 友情链接 · 网站地图 · 移动应用</p><br>
                <p>© 2004-2017 美食天下 保留所有权利 - 京ICP证090244号</p>
            </div>
            <span><img src="http://static.meishichina.com/v6/img/footer/weixin.png" alt="">微信公众号</span>
            <span><img src="http://static.meishichina.com/v6/img/model/msc_app.png" alt="">手机客户端</span>
        </div>
    </div>
</body>

</html>